* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FEFEFE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #313131;
    position: relative;
    letter-spacing: 0.1rem;
}

.row-title #titulo{
    font-size: 2.0em;
    margin-bottom: 2em;
    margin-top: 30%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 50%;
    flex-direction: row;
    gap: 0.5em;
}

form > div {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.label label {
    margin: 0.5em;
}

.inputs input {
    color: #757575;
    margin: 0.6em;
    width: 300px;
    border: 2px solid #EEEEEE;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}

.btn-cadastrar {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 14em;
    height: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: #EEEEEE;
    border: none;
    border-radius: 1rem;
    background-color: #70B755;
    text-transform: uppercase;
    cursor: pointer;
}

.modal {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #70B755;
}